/* CSS reset  */
*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
/* CSS Variables */
:root{
    --navbar-height:59px
}
/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: relative;
}
/* Navigation Bar: Logo aand Image  */
#logo{
    margin: 6px 7px;
}
#logo img{
    margin: 4px 5px;
    height: 56px;
}
/* Navigation Bar: List styling */
#navbar ul{
    display:flex;
    font-family: 'Baloo Bhai', cursive;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1.9;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3 rem;
}
#navbar ul li a{
    color: aliceblue;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: white;
}
/* home section  */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 20px;
    height: 650px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: '';
    background: url('https://cdn.pixabay.com/photo/2023/09/05/12/44/mug-8235059_640.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: aliceblue;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
#home p{
    color: aliceblue;
    text-align: center;
    font-size: 1.2rem;
    font-family: cursive;
}
/* Services Section  */
#services{
    margin: 34px;
    display: flex;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin: 0px 6px;
    border-radius: 23px;
    background-color: antiquewhite;
}
#services .box img{
    height: 130px;
    display: block;
    margin: auto;
}
#services .box p{
    font-family: cursive;
}
/* Clients Section  */
#client-section{
    height: 344px;
}
#client-section::before{
    content: '';
    position: absolute;
    background: url('https://cdn.pixabay.com/photo/2017/09/04/18/39/coffee-2714970_640.jpg') no-repeat center center/cover;
    height: 340px;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
    background-repeat: no-repeat;

}
#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 25px;
}
#clients img{
    height: 90px;
}
/* Contact Section  */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.6;
    background: url('https://cdn.pixabay.com/photo/2019/05/10/14/23/contact-us-4193637_640.jpg');
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input, #contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box form{
    width: 40%;
}
#contact-box label{
    font-size: 1.3rem;
}
footer{
    background: black;
    color: white;
    padding: 5px 2px;
}
/* Utility classes */
.h-primary{
    font-size: 3rem;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.h-seondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Times New Roman', Times, serif;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: rgb(86, 47, 47);
    color: aliceblue;
    margin: 17px;
    font-size: 1.1rem;
    border-radius: 20px;
    cursor: pointer;
}
.center{
    text-align: center;
}